@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668498612656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yizhidingceng:before {
  content: "\e602";
}

.icon-jiezu:before {
  content: "\e603";
}

.icon-fenzu:before {
  content: "\e604";
}

.icon-yizhidiceng:before {
  content: "\e605";
}

.icon-jianqudingceng:before {
  content: "\e606";
}

.icon-jiaoji:before {
  content: "\e607";
}

.icon-chaji:before {
  content: "\e608";
}

.icon-lianji:before {
  content: "\e609";
}

.icon-zuoyoufanzhuan:before {
  content: "\e60a";
}

.icon-shangxiafanzhuan:before {
  content: "\e60b";
}

.icon-geshishua:before {
  content: "\e60c";
}

.icon-jiaobenbianji:before {
  content: "\e60d";
}

.icon-xuanzhuan:before {
  content: "\e60e";
}

.icon-juyouduiqi:before {
  content: "\e60f";
}

.icon-shangxiajuzhongduiqi:before {
  content: "\e610";
}

.icon-shuipingdengjianju:before {
  content: "\e611";
}

.icon-juxiaduiqi:before {
  content: "\e612";
}

.icon-chuizhidengjianju:before {
  content: "\e613";
}

.icon-zuoyoujuzhongduiqi:before {
  content: "\e614";
}

.icon-jushangduiqi:before {
  content: "\e615";
}

.icon-juzuoduiqi:before {
  content: "\e616";
}

.icon-wenbenzuoyouduiqi:before {
  content: "\e617";
}

.icon-wenbenjuyouduiqi:before {
  content: "\e618";
}

.icon-wenbenzuoduiqi:before {
  content: "\e619";
}

.icon-wenbenjuzhongduiqi:before {
  content: "\e61a";
}

.icon-wenbendibuduiqi:before {
  content: "\e61b";
}

.icon-wenbendingbuduiqi:before {
  content: "\e61c";
}

.icon-wenbenshangxiajuzhong:before {
  content: "\e61d";
}

.icon-wenbenxiahuaxian:before {
  content: "\e61e";
}

.icon-wenbenxieti:before {
  content: "\e61f";
}

.icon-wenbenjiacu:before {
  content: "\e620";
}

